{% extends "accounts/base.html"%} {% block content %}
<!--Reset Password-->

<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <div class="card-text">
        <h2 class="font-weight-bold mt-3 text-center">Reset Password</h2>
        <hr />
        <p class="text-center">
          Forgotten your password? Enter your email address below, and we'll
          email instructions for setting a new one.
        </p>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Email address:-</label>
            <input
              type="email"
              name="email"
              class="form-control form-control-sm"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="text-center">
          <button class="btn btn-primary " type="submit">Send email</button>
        </div></form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
