{% extends "accounts/base.html"%} {% block content %}

<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Password Reset Confirm</h3>

      {% for field in form %} 
        {% for error in field.errors %}
          <div class="alert alert-info">{{ error }}</div>
        {% endfor %} 
      {% endfor %}
      <hr />
      <form method="POST" class="mt-0 pt-0">
        {% csrf_token %} 

        <br />
        <h5 class="font-weight-light">
        Enter New Password :-</h5>
        <input
          type="password"
          class="form-control form-control-sm mb-3"
          name="new_password1"
          autocomplete="new-password"
          required
          id="id_new_password1"
        />
        <h5 class="font-weight-light">
        Conform New Password :-</h5>
        <input
          type="password"
          class="form-control form-control-sm md-3"
          name="new_password2"
          autocomplete="new-password"
          required
          id="id_new_password2"
        />
        <button class="btn btn-primary" type="submit">Reset password</button>
      </form>
    </div>
    {% endblock %}
  </div>
</div>
