{% extends "memories/base.html"%} {% block navbar %} {% load memory_image %}
{%load static %}
<div class="container mt-5">
  <div class="card card-body bg-light col-10 mx-auto text-center">
    <h3 class="">Welcome, {{request.user.username}}</h3>
    <h6 class="text-center">Following 0    Followers 3</h6>
    <a href={% url 'logout' %} >
    <button class="btn btn-primary mt-3">
    logout</button></a>
  </div>
  {% for post in posts %}
    <div class="card card-body bg-light col-10 mt-2 mb-2 mx-auto">
      <div>
        <div><a href={% url 'User-profile' post.user.username%}
          class='font-weight-bold'> {{post.user}}</a>
          ({% timestamp post.created_at %})
        </div>
        {{post.category}}: 
        {{post.memory}}
        {{post.date|date:"D, d-M-Y"}} 
        {% ifequal post.user request.user %}
          <a href="{% url 'delete_post' post.pk %}" data-toggle="tooltip" data-placement="top"    title="delete memorie" onclick="return confirm('Are you sure ?')">
            <i class="fas fa-trash float-right btn btn-danger btn-sm"></i>
          </a>
        {% endifequal %}
      </div>
      <br>
      {% model post.pk as files%} 
      {% ifnotequal files '' %}
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for file in files %} {% if forloop.first %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
              {% comment %} {% file_type file.file %} {% endcomment %}
              {% file_type file.file as file_format %}
              {% ifequal file_format 'image' %}
              <img class="d-block w-100" src="{{file.file.url}}" width="300" height="300"/>
              {%endifequal%}
              {% ifequal file_format 'video' %}
              <video class="d-block w-100" src={{file.file.url}} width="300" height="300" controls></video>
              {%endifequal%}            
            </div>
            {% endfor %}
          </div>
            {% ifnotequal files|length 1 %}
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      {% endifnotequal %}
        </div>
        <br />
      {% endifnotequal %}
    </div>
  {% endfor %}
</div>
<nav aria-label="Page navigation example" class="mb-5">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% endif %} 
    {% if posts.number|add:'-4' > 1 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.number|add:'-5' }}">&hellip;</a>
      </li>
    {% endif %} 
    {% for i in posts.paginator.page_range %} 
      {% if posts.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %} 
    {% endfor %} 
    {% if posts.paginator.num_pages > posts.number|add:'4' %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.number|add:'5' }}">&hellip;</a>
      </li>
    {% endif %} 
    {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
